@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{ margin:0;
padding:0;
box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}
.max_container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
    border-radius: 2rem;
    width: 28vw;
    height: 81vh;
    background-color: white;
    box-shadow: 0rem 0.5rem 4rem 0.2rem rgb(78, 77, 77);
     text-align: center;
     word-spacing: 0.2vw;
     letter-spacing: 0.2rem;
position:relative;
top:8vh;

}
#song_name{
margin-top:1rem;
margin-bottom:1rem;
    text-transform: uppercase;
}
#singer_name{
    color:grey;
    margin-bottom: 5vh;
    text-transform: capitalize;
}
.image_container{
width:15rem;
height:14rem;
margin:auto;
}
#image{
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
    filter:drop-shadow(0rem 0.1rem 2rem  rgb(2, 1, 1)); 
}
.audio{
    margin-top: 6vh;
    width:18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : relative;
    left:4vw;
}
.audio .fas:hover{
cursor : pointer;
color: gray;
box-shadow: 0.5rem 0.5rem 5rem rgb(148, 144, 144);
}
.audio .main_button{
    width:3rem;
    height:3rem;
    border-radius:50%;
    background-color: black;
    color:white;
    display: flex;
justify-content: center;
align-items: center;
font-size:0.8rem;
}
.audio .main_button:hover{
    background-color: white;
    color:black;
    box-shadow: 0.5rem 0.5rem 2rem 0.2rem rgb(27, 25, 25); ;
}
.anime{
    animation:rotateplayer 3s linear infinite;
}
@keyframes rotateplayer{
    from{
    transform:rotate(0deg);
    }
    to{
transform:rotate(360deg);
    }
}

/* Progress container  */
.duration_container{
margin-top:1rem;

}
.duration_meter{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    }
.progress_div{
margin : auto;
width:90%;
height:1vh;
box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07),
0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
border-radius: 2rem;
margin-top:1vh;
position:relative;
cursor:pointer;
transition:width 1s linear;
appearance: none;
}

.progress{
height:100%;
width:0%;
box-shadow: 0.2rem 0.2rem 3rem 0.2rem black;
position:absolute;
border-radius: 2rem;
background-color: black;
transition:width 1s linear;
cursor:pointer;
appearance: none;
}

.current_time{
    margin-left:1vw;
    margin-bottom:1vh;
}
.duration_time{
    margin-right:1vw;
}


